@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto-sans',sans-serif
}
body * {
    box-sizing: border-box;
}
.main-cep{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cep{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-cep > h1{
    color: #29e810 ;
    font-size: 3vh;
}
.right-cep{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imagem{
    width: 35vh;
}
.card-cep{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#2f2841 ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.textfield{
    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield >input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color:#514869 ;
    color:#f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color:#f0ffffde;
    margin-bottom: 10px;

}
.btn-cep{
    width: 40%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #29e810 ;
    cursor: pointer;
    box-shadow: 0px 10px 40px #074034;

}
@media only screen and (max-width: 950px){
    .card-cep{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-cep{
        flex-direction: column;
    }
    .left-cep > h1{
        display: none;
    }
    .left-cep {
        width: 100%;
        height: auto;
    }
    .right-cep {
        width: 100%;
        height: auto;
    }
    .imagem{
        width: 50vh;
    }
    .card-cep{
        width: 90%;
    }
    

}
